/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #E94F37;
}

.header-leftmost {
  display: flex;
  align-items: left;
  background-color: #E94F37;
}

.header-link {
  display: flex;
  align-items: center;
}

.header-button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0px;
}

.header-logo {
  width: 40px;
  height: 40px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--field1); /* #2c2f33 dark|light #e7e4e0 */
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
  padding: 1px 9px;
  gap: 10px;
}

.search-icon {
  color: var(--text1); /* #F6F7EB dark|light #090815 */
}

.search-input {
  border: none;
  background: transparent;
  flex-grow: 1;
  color: var(--text1); /* #F6F7EB dark|light #090814 */
  outline: none;
  padding: 9px 0px;
}

.search-input::placeholder {
  color: #F6F7EB;
}

.create-post-button {
  display: flex;
  align-items: center;
  border-radius: 20px;
  height: 40px;
  padding: 7px 10px;
  gap: 5px;
  background-color: transparent;
  color: #F6F7EB;
  border: 1px solid #F6F7EB;
  cursor: pointer;
  transition: border 0.3s;
}

.create-post-button span:hover {
  border-bottom: 1px solid #F6F7EB;
}

/* Comment */
.comment-container {
  min-height: 90px;
  width: 100%;
  border-radius: 5px;
  margin: 20px 0px;
  padding-left: 30px;
  border-left-width: 3px;
  border-left-style: solid;
  border-color: var(--field2); /* #4E565A dark|light #b1a9a5 */
}

.comment-container p {
  color: var(--text1); /* #f6f7eb dark|light #090814 */
  margin: 0px;
}

.comment-header {
  display: grid;
  font-weight: bold;
  font-size: 18px;
  color: var(--comment1); /* #ADD8E6 dark|light #522719 */
}

.comment-name {
  font-weight: 700;
  color: #2c2f33;
}

.comment-date {
  color: #2c2f33;
  font-weight: lighter;
}

.comment-reply {
  font-size: 12px;
  color: var(---text1); /* #F6F7EB dark|light #090814 */
  font-weight: 400;
}

.comment-reply span {
  font-size: 12px;
  font-weight: bold;
  color: var(--comment1); /* #ADD8E6 dark|light #522719 */
}

.comment-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-menu {
  position: relative;
}

.comment-sidebuttons {
  display: flex;
  align-items: center;
  background-color: #2c2f33;
  border-radius: 10px;
}

.reply-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 5px 7px;
  margin: 5px;
  cursor: pointer;
}

.ellipsis-button {
  border-radius: 50%;
  background-color: transparent;
  padding-right: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  border: 2px solid #4E565A;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  background-color: #2c2f33;
  border-radius: 10px;
  right: 0px;
  top: 25px;
  z-index: 10;
}

.dropdown-menu input {
  margin: 5px;
  border: none;
  background-color: transparent;
  color: #F6F7EB;
  outline: none;
  border-radius: 5px;
  padding: 5px 7px;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 5px;
}

.dropdown-menu li button {
  color: #F6F7EB;
  background-color: transparent;
  padding: 5px 9px;
  border: none;
  cursor: pointer;
}

/* Image Carousel */

.image-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 200px;
  width: 100%;
  margin: 1rem auto;
  gap: 5px;
}

.post-image {
  max-width: 30%;
  min-width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 40px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}

.image-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: #F6F7EB;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.image-button:first-of-type {
  left: 5px;
}

.image-button:last-of-type {
  right: 5px;
}

.image-button:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* Tag Input */

.tags-input {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #2c2f33;
  border-radius: 10px;
  padding: 7px 10px;
  gap: 5px;
  border: none;
  color: #F6F7EB;
  outline: none;
  max-width: 430px;
}

.tags-input input {
  border: none;
  background: transparent;
  color: #F6F7EB;
  outline: none;
  flex: 1;
  min-width: 100px;
}

.tags-input input::placeholder {
  color: #bbbbbb;
}

.tag button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #F6F7EB;
  cursor: pointer;
  font-size: 14px;
}