/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #E94F37;
}

.header-leftmost {
  display: flex;
  align-items: left;
  background-color: #E94F37;
}

.header-link {
  display: flex;
  align-items: center;
}

.header-button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0px;
}

.header-logo {
  display: block;
  width: 40px;
  height: 40px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #2c2f33;
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
  padding: 1px 9px;
  gap: 10px;
}

.search-icon {
  color: #F6F7EB;
}

.search-input {
  border: none;
  background: transparent;
  flex-grow: 1;
  color: #F6F7EB;
  outline: none;
  padding: 9px 0px;
}

.create-post-button {
  display: flex;
  align-items: center;
  border-radius: 20px;
  height: 40px;
  padding: 7px 10px;
  gap: 5px;
  background-color: transparent;
  color: #F6F7EB;
  border: 1px solid #F6F7EB;
  cursor: pointer;
}

/* Comment */
.comment-container {
  min-width: 250px;
  min-height: 100px;
  padding: 10px;
  border-radius: 10px;
  padding-left: 10px;
  border-left-width: 3px;
  border-left-style: solid;
  border-color: #4E565A;
}

.comment-container p {
  color: #F6F7EB;
  margin-bottom: 10px;
}

.comment-header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-weight: bold;
  font-size: 18px;
  color: lightblue;
}

.comment-name {
  font-size: 24px;
  color: #F6F7EB;
}

.comment-reply {
  font-size: 12px;
  color: #F6F7EB;
  font-weight: 400;
}

.comment-reply span {
  font-size: 12px;
  font-weight: bold;
  color: lightblue;
}

.comment-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-menu {
  position: relative;
  margin: 0;
}

.comment-sidebuttons {
  display: flex;
  align-items: center;
}

.ellipsis-button {
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  background-color: #2c2f33;
  border-radius: 10px;
  right: 0px;
  top: 25px;
  z-index: 10;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 5px;
}

.dropdown-menu li button {
  color: #F6F7EB;
  border-radius: 10px;
  background-color: transparent;
  padding: 5px 9px;
  border: none;
  cursor: pointer;
}

.dropdown-menu li button:hover {
  background-color: #4E565A;
}

/* Image Carousel */

.image-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  margin: 1rem auto;
  gap: 5px;
}

.post-image {
  max-width: 100%;
  min-width: 250px;
  height: 100%;
  object-fit: cover;
}

.image-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: #F6F7EB;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.image-button:hover {
  background: rgba(0, 0, 0, 0.7);
}