.error-container {
    display: flex;
    flex-direction: column;
    color: var(--field3);
    height: 90%;

    align-items: center;
    justify-content: center;
}

.error-container>*>* {
    margin: 0px;
}

.error-container span {
    font-size: 2rem;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.error-404 {
    font-family: Courier, monospace;
    font-size: 10rem;
}

.error-404-wrapper {
    display: flex;
    flex-wrap: nowrap;
}
