:root {
    --bg-color: #e3e3e3;
    --black1-color: #222526;
    --black2-color: #2c2f33;
    --black3-color: #4E565A;
    --light-gray-color: #DAD8D7;
    --white1-color: #F6F7EB;
    --like-color: #07bc0c;
    --dislike-color: #CA2E16;
    --highlight1: #E53E24;

    --field1: #e7e3df;
    --field2: #b1a9a5;
    --field3: #2c2f33;
    --field4: #c6c1be;
    --sidebar: #f9f9f5;
    --smallpost-header: #d3d0cc;
    --suggestion-item: hsl(36, 7%, 86%);

    --text1: #090815;
    --text2: #303030;
    --comment1: #522719;
    --search-buttons-color: #2c2f33;

    /* toastify colors */
    --toastify-color-light: #e3e3e3;
    --toastify-color-info: #ADD8E6;
    --toastify-color-success: #07bc0c;
    --toastify-color-error: #E53E24;
}

[data-theme="dark"] {
    --bg-color: #222526;
    --field1: #2d3034;
    --field2: #4E565A;
    --field3: #d3d0cc;
    --field4: #393E41;
    --sidebar: #F6F7EB;
    --smallpost-header: #2c2f33;
    --suggestion-item: hsl(214, 7%, 17%);

    --text1: #F6F7EB;
    --text2: #cfcfcf;
    --comment1: #ADD8E6;
    --search-buttons-color: #F6F7EB;

    /* toastify colors */
    --toastify-color-dark: #2c2f33;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    /* #222526 dark|light #eaeaea*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;

    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("@/public/signupbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.08;
    z-index: -1;
    pointer-events: none;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

a {
    text-decoration: none;
}

.header-text {
    color: #F6F7EB;
    font-weight: bold;
    margin: 0;
}

.round-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 5px 7px;
    margin: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.round-button span {
    color: #F6F7EB;
}

.round-button:hover,
.edit-button:hover {
    background-color: #F6F7EB;
    color: #2c2f33;
}

.icon {
    width: 20px;
    height: 20px;
    color: #F6F7EB;
    fill: transparent;
    transition: color 0.3s ease, fill 0.3s ease;
}

.round-button:hover .icon,
.round-button:hover span,
.edit-button:hover .icon {
    color: #2c2f33;
}

/* Miscellaneous */

.black-color {
  color: var(--black2-color);
}

.gray-color {
  color: var(--black3-color);
}

.active {
    background-color: #F6F7EB;
}

.active .icon {
    color: #2c2f33;
}

.relative {
    position: relative;
}
