:root {
    --bg-color: #e3e3e3;
    --black1-color: #222526;
    --black2-color: #2c2f33;
    --black3-color: #4E565A;
    --light-gray-color: #DAD8D7;
    --white1-color: #F6F7EB;
    --like-color: green;
    --dislike-color: #CA2E16;
    --highlight1: #E53E24;

    --field1: #e7e4e0;
    --field2: #b1a9a5;
    --field3: #2c2f33;
    --field4: #c6c1be;
    --smallpost-header: #d3d0cc;

    --text1: #090815;
    --text2: #303030;
    --comment1: #522719;
    --search-buttons-color: #2c2f33;
}

[data-theme="dark"] {
    --bg-color: #222526;
    --field1: #2c2f33;
    --field2: #4E565A;
    --field3: #d3d0cc;
    --field4: #393E41;
    --smallpost-header: #2c2f33;

    --text1: #F6F7EB;
    --text2: #cfcfcf;
    --comment1: #ADD8E6;
    --search-buttons-color: #F6F7EB;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    /* #222526 dark|light #eaeaea*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

a {
    text-decoration: none;
}

.header-text {
    color: #F6F7EB;
    font-weight: bold;
    margin: 0;
}

.round-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 5px 7px;
    margin: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.round-button:hover,
.edit-button:hover {
    background-color: #F6F7EB;
    color: #2c2f33;
}

.icon {
    width: 20px;
    height: 20px;
    color: #F6F7EB;
    fill: transparent;
    transition: color 0.3s ease, fill 0.3s ease;
}

.round-button:hover .icon,
.round-button:hover span,
.edit-button:hover .icon {
    color: #2c2f33;
}

/* Miscellaneous */

.black-color {
  color: var(--black2-color);
}

.gray-color {
  color: var(--black3-color);
}

.active {
    background-color: #F6F7EB;
}

.active .icon {
    color: #2c2f33;
}

.relative {
    position: relative;
}