.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 20px 10px;
}

.search-body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    column-gap: 20px;
    row-gap: 10px;
    background-color: var(--field4);
    /* #393E41 dark|light #c6c1be*/
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    margin: 0 20px 20px 0;
}

.search-body label {
    display: flex;
    align-items: center;
    justify-content: end;
    height: auto;
    color: var(--text1);
    /* #F6F7EB dark|light #090814 */
    background-color: var(--field1);
    /* #2c2f33 dark|light #e7e4e0 */
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 0.9rem;
}

.search-body #keywords {
    display: flex;
    align-items: center;
    background-color: var(--field1);
    /* #2c2f33 dark|light #e7e4e0 */
    border-radius: 10px;
    font-size: 0.9rem;
    gap: 10px;
    padding: 5px 10px;
    border: none;
    color: var(--text1);
    /* #F6F7EB dark|light #090814 */
    outline: none;
}

.tag button {
    background: none;
    border: none;
    color: var(--text1);
    /* #F6F7EB dark|light #090814 */
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
}

.search-body select {
    background-color: var(--field1);
    /* #2c2f33 dark|light #e7e4e0 */
    border-radius: 10px;
    padding: 7px 10px;
    font-size: 0.9rem;
    gap: 10px;
    border: none;
    color: var(--text1);
    /* #F6F7EB dark|light #090814 */
    outline: none;
}

.search-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #E94F37;
    height: 80vh;
    width: 60vw;
    border-radius: 10px 10px 10px 10px;
    align-items: center;
    margin: 0 20px 20px 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.result-text {
    align-self: flex-start;
    color: var(--text1);
    /* #F6F7EB dark|light #090814 */
    margin: 0;
}

.search-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 50px;
    border-radius: 5px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 60px;
}

.search-buttons {
    border-radius: 20px;
    height: 40px;
    background-color: transparent;
    color: var(--search-buttons-color);
    /* white dark|light black*/
    border: 1px solid var(--text1);
    /* #F6F7EB dark|light #090814 */
    cursor: pointer;
}

.search-buttons:hover {
    opacity: 0.8;
}