body {
    margin: 0;
    background-color: #222526;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #E94F37;
}

.header-text,
.profile-text {
    color: #F6F7EB;
    font-weight: bold;
    margin: 0;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.gray-button {
    display: flex;
    align-items: center;
    background: #393E41;
    border: 1px solid #393E41;
    border-radius: 10px;
    padding: 5px 9px;
    cursor: pointer;
    transition: background 0.3s, transform 0.15s ease;
}

.gray-button:hover {
    background-color: #F6F7EB;
    color: #393E41;
}

.gray-button:active {
    transform: scale(0.95);
}

.icon {
    width: 20px;
    height: 20px;
    color: #F6F7EB;
    transition: color 0.3s ease;
}

.gray-button:hover .icon, .gray-button:hover span {
    color: #393E41;
}

.selected-up .icon{
    fill: green;
}

.selected-down .icon{
    fill: #E94F37;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #393E41;
    border-radius: 10px;
    width: 100%;
    max-width: 250px;
    padding: 1px 9px;
    gap: 10px;
}

.search-icon {
    color: #F6F7EB;
}

.search-input {
    border: none;
    background: transparent;
    flex-grow: 1;
    color: #F6F7EB;
    outline: none;
    padding: 8px 0;
}

.post {
    display: grid;
    grid-template-columns: 500px 50px;
    min-height: 350px;
    padding: 10px 0px;
}

.post-body {
    display: flex;
    flex-direction: column;
}

.post-sidebar {
    background-color: #393E41;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}

.post-header {
    border-radius: 25px 0px 0px 0px;
    background-color: #DAD8D7;
}

.post-header h1 {
    margin: 20px 20px 0px;
}

.post-header p {
    margin: 0px 20px 20px;
}

.post-main {
    background-color: #F6F7EB;
    flex-grow: 1;
}

.post-main p {
    padding: 10px 20px;
}

.post-footer {
    border-radius: 0px 0px 0px 25px;
    background-color: #E53E24;
    padding-left: 10px;
}

.tag {
    color: #F6F7EB;
    display: inline-block;
    padding: 10px;
    margin: 10px 0px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #CA2E16;
    min-width: 50px;
    text-align: center;
}

.gray {
    color: #393E41;
}

.post-link {
    text-decoration: none;
    color: black;
}

/* postwindow */
.post-window-main {
    display: flexbox;
    flex-direction: row;
    align-items: stretch;
    padding: 0px 0px;
}

.post-window-container {
    width: 50%;
    background-color: black;
    flex-direction: column;
    padding: 10px 10px;
}

.post-window-header {
    background-color: grey;
    border-radius: 10px 10px 0px 0px;
    padding: 5px 10px;
}

.post-window-header-text {
    display: inline;
    color: white;
    font-weight: bold;
}

.post-window-content {
    background-color: white;
    padding: 5px 10px;
}

.post-window-footer {
    background-color: gray;
    border-radius: 0px 0px 10px 10px;
    padding: 5px 10px;
}

.post-window-comments {
    width: 50%;
    background-color: rgb(41, 41, 41)
}

.profile-container {
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #2c2f33;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-body {
    display: flex;
    flex-direction: column;
    background-color: #393E41;
    padding: 25px;
    border-radius: 10px 0px 10px 10px;
    color: #DAD8D7;
}

.profile-icon {
    border-radius: 50%;
    margin: 10px auto;
}

.profile-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #E94F37;
    border-radius: 0px 25px 25px 0px;
    cursor: pointer;
    padding: 20px;
}

.profile-sidebar span {
    color: #F6F7EB;
}