/* profile page */
.profile-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container {
    display: flex;
    justify-content: center;
    background-color: #2c2f33;
    min-height: 350px;
    min-width: 600px;
    max-width: 800px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #393E41;
    min-width: 500px;
    max-width: 800px;
    padding: 25px;
    border-radius: 10px;
    color: #F6F7EB;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-username, .profile-email {
    margin: 0px;
}

.profile-title {
    margin: 0px 0px 20px;
}

.profile-description {
    margin: 20px 0px 0px;
}

.profile-icon-container {
    display: inline-block;
    position: relative;
    margin: 0px 0px 20px;
}

.profile-icon {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.edit-button {
    position: absolute;
    border-radius: 50%;
    top: 50px;
    left: 55px;
    background-color: #2c2f33;
    border: none;
    padding: 5px 4px 4px 7px;
    cursor: pointer;
}

.profile-sidebar {
    display: flex;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    padding: 20px;
}

.sidebar-button {
  display: block;
  padding: 10px 15px;
  color: #F6F7EB;
  text-decoration: none;
}

.profile-sidebar .sidebar-button {
  justify-content: center;
  width: 100%;
}

.sidebar-button.active {
  color: #2c2f33;
  background-color: #F6F7EB;
  border-left: 4px solid #E94F37;
  padding-left: 20px;
}


/* User Post history */
.user-posts-container {
    display: flex;
    flex-direction: column;
}

.user-comments-container h1 {
    margin: 10px 0px;
}

/* User-comment history*/
.user-comment-container {
    background-color: #F6F7EB;
    width: 400px;
    height: 200px;
    overflow: hidden;
}