body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #E94F37;
}

.header-text {
    color: #F6F7EB;
    font-weight: bold;
    margin: 0;
}

.menu-button, .profile-button {
    display: flex;
    align-items: center;
    background: #393E41;
    border: 1px solid #393E41;
    border-radius: 10px;
    padding: 5px 9px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.15s ease;
}

.menu-button:hover, .profile-button:hover {
    background-color: #F6F7EB;
    color: #393E41;
}

.menu-button:active, .profile-button:active {
    transform: scale(0.95);
}

.icon {
    width: 20px;
    height: 20px;
    color: #F6F7EB;
    transition: color 0.3s ease;
}

.menu-button:hover .icon, .profile-button:hover .icon {
    color: #393E41;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #393E41;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    padding: 4px 8px;
    gap: 10px;
}

.search-icon {
    color: #F6F7EB;
}

.search-input {
    border: none;
    background: transparent;
    flex-grow: 1;
    color: #F6F7EB;
    outline: none;
    padding: 8px 0;
}

.post {
    display: grid;
    grid-template-columns: 300px 50px;
    min-height: 400px;
    padding: 10px 0px;
}

.post-body {
    display: flex;
    flex-direction: column;
}

.post-sidebar {
    background-color: #393E41;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}

.post-header {
    border-radius: 25px 0px 0px 0px;
    background-color: #DAD8D7;
}

.post-header h1 {
    margin: 20px;
}

.post-main {
    background-color: #F6F7EB;
    flex-grow: 1;
}

.post-main p {
    padding: 10px 20px;
}

.post-footer {
    border-radius: 0px 0px 0px 25px;
    background-color: #E53E24;
}

.tag {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 4;
    background-color: #CA2E16;
    min-width: 50px;
    text-align: center;
}

.invert {
    transform: rotate(180deg);
}

.gray {
    color: gray;
}